.wrapper {
  div {
    display: inline-block;
    font-weight: 500;
    font-size: 109px;
    line-height: 133px;
    transform: translateX(107px) translateX(-100%) rotate(-90deg);
    transform-origin: center right;
  }
}
