.wrapper {
  div {
    font-weight: 500;
    font-size: 109px;
    height: var(--grid-large);
    display: flex;
    align-items: center;

    transform: translate(
        var(--grid-horizontal),
        calc(var(--grid-large) * 4 + var(--grid-small) * 3)
      )
      rotate(-90deg);
    transform-origin: top left;
  }
}
