.wrapper {
  div {
    font-weight: 500;
    font-size: 109px;
    height: var(--grid-row);
    display: flex;
    align-items: center;

    transform: translate(var(--grid-horizontal), 540px) rotate(-90deg);
    transform-origin: top left;
    filter: invert(1);
    mix-blend-mode: difference;
  }
}
