.wrapper {
  display: grid;
  height: calc(
    var(--grid-vertical) + var(--grid-row) * 6 + var(--grid-gap) * 5
  );
  grid-template-columns:
    calc(var(--grid-horizontal) + var(--grid-column) * 2 + var(--grid-gap) * 2)
    1fr;
  grid-template-rows:
    calc(var(--grid-vertical) + var(--grid-row) + var(--grid-gap))
    1fr;
  & > div:first-child {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  & > div:nth-child(2) {
    border-bottom: 1px solid #000;
  }
  & > div:nth-child(3) {
    border-right: 1px solid #000;
  }
}

.img {
  background-image: url("/first-screen-bg.jpg");
  background-size: cover;
  height: 100%;
}
