.wrapper {
  position: relative;
  height: calc(var(--grid-row) * 12 + var(--grid-gap) * 11);
  border-bottom: 1px solid #000;

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.first {
  display: grid;
  position: absolute;
  gap: var(--grid-gap);
  top: calc(var(--grid-row) + var(--grid-gap));
  left: var(--grid-horizontal);
  width: calc(var(--grid-column) * 5 + var(--grid-gap) * 4);
  height: calc(var(--grid-row) * 4 + var(--grid-gap) * 3);
  grid-template-columns: 3fr 2fr;

  & > :first-child {
    background-image: url("/galery-1.jpg");
    background-size: cover;
  }
}
.second {
  display: grid;
  position: absolute;
  top: calc(var(--grid-row) * 2 + var(--grid-gap) * 2);
  right: calc(var(--grid-column) + var(--grid-gap) + var(--grid-horizontal));
  width: calc(var(--grid-column) * 4 + var(--grid-gap) * 3);
  height: calc(var(--grid-row) * 4 + var(--grid-gap) * 3);
  gap: var(--grid-gap);
  grid-template-rows: 4fr 1fr;

  & > :first-child {
    background-image: url("/galery-1.jpg");
    background-size: cover;
  }
  div {
    display: flex;
    justify-content: flex-end;
  }
  p {
    display: block;
    width: calc(var(--grid-column) * 3 + var(--grid-gap) * 2);
    text-align: start;
  }
}

.third {
  display: grid;
  position: absolute;
  top: calc(var(--grid-row) * 6 + var(--grid-gap) * 5);
  left: 0;
  width: calc(
    var(--grid-column) * 4 + var(--grid-gap) * 3 + var(--grid-horizontal)
  );
  height: calc(var(--grid-row) * 5 + var(--grid-gap) * 4);
  gap: var(--grid-gap);
  grid-template-rows: 4fr 1fr;

  & > :first-child {
    background-image: url("/galery-3.jpg");
    background-size: cover;
  }
  p {
    padding-left: var(--grid-horizontal);
    padding-right: calc(var(--grid-column) + var(--grid-gap));
  }
}

.fourth {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: calc(var(--grid-row) * 8 + var(--grid-gap) * 8);
  right: 0;
  width: calc(
    var(--grid-column) * 5 + var(--grid-gap) * 4 + var(--grid-horizontal)
  );
  height: calc(var(--grid-row) * 4 + var(--grid-gap) * 3);

  & > div:first-child {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-basis: calc(var(--grid-column) * 2 + var(--grid-gap));
  }

  & > :last-child {
    background-image: url("/galery-4.jpg");
    background-size: cover;
    height: 100%;
    flex-basis: calc(
      var(--grid-gap) * 2 + var(--grid-column) * 3 + var(--grid-horizontal)
    );
  }
  p {
    height: var(--grid-row);
  }
}
