.wrapper {
  padding: calc(var(--grid-row) + var(--grid-gap) * 2)
    calc(var(--grid-column) * 2 + var(--grid-gap) * 2 + var(--grid-horizontal))
    calc(var(--grid-row) + var(--grid-gap)) var(--grid-horizontal);

  display: flex;
  align-items: flex-endg;
  justify-content: space-between;

  h3 {
    width: calc(var(--grid-column) * 2 + var(--grid-gap));
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.01em;
    color: #1e1e1e;
  }

  p {
    width: calc(var(--grid-column) * 4 + var(--grid-gap) * 3);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
