.wrapper {
  display: grid;
  padding: calc(var(--grid-small) * 2 + var(--grid-large))
    calc(var(--grid-large) + var(--grid-small) + var(--grid-horizontal))
    calc(var(--grid-small) * 2 + var(--grid-large)) var(--grid-horizontal);
  color: #ced9de;
  background-color: #1e1e1e;
  gap: var(--grid-small);
  grid-template-columns: 1fr 1fr;
}

.large {
  flex-grow: 1;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.01em;
}

.small {
  flex-grow: 1;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
