@import "./reset.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ced9de;
  color: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

:root {
  --grid-horizontal: 66px;
  --grid-large: calc((100vw - var(--grid-horizontal) * 2) / 10);
  --grid-small: 20px;
  --grid-large-vertical: 120px;
  --grid-vertical: 50px;
}
